<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <figure>
            <img src="logo.png" alt="Xhopii Logo">
        </figure>
        <h1>Xhopii</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cadastro Cliente</a></li>
            <li><a href="#">Cadastro Funcionário</a></li>
            <li><a href="#">Cadastro Produto</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionários</a></li>
            <li><a href="#">Ver Produtos</a></li>
        </ul>
    </nav>
    
    <main>
        <section id="galeria">
            <aside>
                <img src="camiseta-azul.png" alt="Miniatura 1">
                <img src="camiseta-verde.png" alt="Miniatura 2">
                <img src="camiseta-cinza.png" alt="Miniatura 3">
                <img src="camiseta-rosa.png" alt="Miniatura 4">
                <img src="camiseta-preta.png" alt="Miniatura 5">
            </aside>
            <figure>
                <img src="camiseta-preta.png" alt="Camisa Principal">
            </figure>
        </section>
        
        <section id="detalhes-produto">
            <h2>Camisa Desenvolvedor Front-End CSS</h2>
            <p id="preco">R$56,90</p>
            <p id="estoque">171 peças disponíveis</p>
            
            <article class="variacoes">
                <p>Modelos:</p>
                <ul>
                    <li><button>Preto</button></li>
                    <li><button>Azul</button></li>
                    <li><button>Verde</button></li>
                    <li><button>Cinza</button></li>
                    <li><button>Rosa</button></li>
                </ul>
            </article>
            
            <article class="variacoes">
                <p>Tamanhos:</p>
                <ul>
                    <li><button>P</button></li>
                    <li><button>M</button></li>
                    <li><button>G</button></li>
                    <li><button>GG</button></li>
                </ul>
            </article>
            
            <p id="tamanho-selecionado">Tamanho Selecionado: P</p>
            
            <button id="botao-comprar">Comprar Agora</button>
        </section>
    </main>
</body>
</html>